<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
      <h3>~Tiny App~</h3>
        <% if(user){%>
        <h1><%= `Hi there, ${user.name}` %></h1>
        <form method = "POST" action = "/logout">
            <button>log out</button>
        </form>
        <% }else{ %>
      <form method = "GET" action = "/login">
        <button>login</button>
      </form>
      <form method = "GET" action = "/register">
        <button>Register</button>
      </form>
      <% } %>
    </header>
</body>
</html>