<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
      <h1>~Tiny App~</h1>
        <% if(user){%>
        <h2><%= `Hi there, ${user.name} ` %></h2>
        <h2><%=  user.email %></h2>
        <form method = "POST" action = "/logout">
            <button>log out</button>
        </form>
        <% }else{ %>
      <form method = "GET" action = "/login">
        <button>login</button>
      </form>
      <form method = "GET" action = "/register">
        <button>Register</button>
      </form>
      <% } %>
    </header>
</body>
</html>