<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <style>form{display:inline}</style>
</head>
<body>
    <header>
      <% include partials/_header%>
    </header>
      <% if(Object.keys(urls).length === 0){%>
      <h1>You have no urls yet, add more now!</h1>
      <%}else{%>
        <ul>
          <% for(let i in urls) { %>
            <li>
              <a href="/u/<%=i%>"><%= `localhost/${i} -- ${urls[i].clicks} clicks so far` %></a>
              <form method="POST" action='/urls/<%= i %>/delete'>
                <button>delete</button>
              </form>
              <form method="GET" action='/urls/<%= i %>'>
                <button>Edit</button>
              </form>
            </li>
          <% } %>
        </ul>
      <% } %>
    <form method="GET" action='/urls/new'>
      <button>Add a new url</button>
    </form>
</body>
</html>