<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
      <% include partials/_header%>
    </header>
    <ul>
      <%= shortURL %>
      <form method="POST" action='/urls/<%= shortURL %>/update'>
        <input id="shortURL" type="text" name = "newURL" value = <%= longURL %> >
        <button>Confirm</button>
      </form>
    </ul>
</body>
</html>