<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
      <% include partials/_header%>
    </header>
    <ul>
      <% for(let i in urls) { %>
        <form method="POST" action='/urls/<%= i %>/delete'>
          <li><%= `${i} : ${urls[i]}` %></li>
          <button>delete</button>
        </form>
      <% } %>
    </ul>

    <form method="GET" action='/urls/new'>
      <button>Add a new url</button>
    </form>
</body>
</html>