<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header style="margin:150px">
        <h1>Sign Up!</h1>
    </header>
      <form method="POST" action='/register' style="margin:150px">
        <label for="name">Name: </label>
        <input id="name" type="text" name = "name" placeholder="John Doe" >
        <label for="em">Email: </label>
        <input id="em" type="email" name = "email" placeholder="abc@email.com" >
        <label for="pw">Password: </label>
        <input id="pw" type="password" name = "password" placeholder="plz no 1234s" >
        <button>Sign ME Up</button>
      </form>
</body>
</html>